seaborn
tensorflow
tensorflow_hub
matplotlib
numpy=1.26.4
opencv-python==4.8.0.76
tensorflow-model-optimization
tf_keras # Keras 2 legacy for tfmot, as tfmot doesn't support tf.keras yet, only keras 2 legacy. See